<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Docker Hub-Node Test Suite" parallel="classes">
    <test verbose="2" preserve-order="true" name="E:/Udemy/DockerValidation">
       <classes>
           <class name="ChromeTest1"></class>
           <class name="ChromeTest2"></class>
           <class name="ChromeTest3"></class>
       </classes>
    </test>
</suite>

